In [ ]:
#1.	In your own words, describe:
#a.	Bias and variance in machine learning.
# Variance measures the change in output from a model s a result of a different training set. Bias is the resulting error when the model is then used to predict real events.
#b.	Describe the bias-variance tradeoff.
# Variance tends to be low if the model is simple and less flexible however bias tends to be low if the model is flexible and complicated, meaning that it is very hard to create a model that can reduce both.
#c. In 3 or less sentences, describe bias and variance in relation to complex and simple models. When is variance high? When is it low? How about bias?
# A complicated model tends to result in a high variance but low bias, and a simple model tends to result in a high bias but low variance.

In [50]:
#2.	List the assumptions of linear regression.
# Linearity, relationship between X and the mean of Y is linear. Homoscedasticity, the variance of the residual is the same. Independence, observations are independent of one another. Normality, for any X value, Y is normally distributed.

In [51]:
#3. If you bike (biking =1), on average chance of heart disease goes down 0.2, but if you smoke (smoking =1), on average chance of heart disease goes up by 0.178. Holding all others constant.

In [52]:
#4
#a.	Write down the equation for the above regression. 
# Sales = 3.527 + 0.046*Youtube + 0.188*Facebook – 0.001*Newspaper + error
#b.	Interpret the above output focusing on the residuals, the coefficients, the standard error, the t value, the p value, R squared and the F statistic.
# The B_0 coefficient is 3.52667 which is the firms sales if they didn’t spend anything on advertising. B_1 is 0.04576, meaning for every 1 unit increase in YouTube advertising, on average sales increases by 0.04576 holding all others constant. B_2 is 0.18853, meaning for every 1 unit increase in Facebook advertising, on average sales increases 0.18853 holding all others constant. B_3 is -0.00104, meaning that every 1 unit increase in Newspaper advertising, on average sales decreases by 0.00104 holding all others constant. B_1 and B_2 have low standard errors and have both statistically significant T and P values. B_3 also has a low standard error but does not have statistically significant T or P values. The R squared appears high, 0.897, indicating the model is a good fit and that 89.7% of the variance of sales can be explained by the 3 ways of advertising. The F-statistic is also high with a statistically significant p-value, further indicating the model is a good fit.

In [1]:
import pandas as pd

In [5]:
import numpy as np # v 1.21.5
import sklearn # v 1.02.
import pandas as pd # v 1.5.3

import matplotlib.pyplot as plt # v 3.7.1
import statsmodels.api as sm # v.0.13.2

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error


%matplotlib inline

In [23]:
df = pd.read_csv("C:/Users/btomi/OneDrive/Documents/Data 300/California_Houses.csv")

In [ ]:
#a.	Exploratory Data Analysis: summary statistics, shape, column names, missing values, data types, plot the columns, correlations etc. Does anything stand out? If there are missing values, how are you going to impute the missing values? You can do the exploratory analysis by hand by hand or use any python package available online.

In [24]:
df.columns

Index(['Median_House_Value', 'Median_Income', 'Median_Age', 'Tot_Rooms',
       'Tot_Bedrooms', 'Population', 'Households', 'Latitude', 'Longitude',
       'Distance_to_coast', 'Distance_to_LA', 'Distance_to_SanDiego',
       'Distance_to_SanJose', 'Distance_to_SanFrancisco'],
      dtype='object')

In [25]:
df.shape

(20640, 14)

In [26]:
df.dtypes

Median_House_Value          float64
Median_Income               float64
Median_Age                    int64
Tot_Rooms                     int64
Tot_Bedrooms                  int64
Population                    int64
Households                    int64
Latitude                    float64
Longitude                   float64
Distance_to_coast           float64
Distance_to_LA              float64
Distance_to_SanDiego        float64
Distance_to_SanJose         float64
Distance_to_SanFrancisco    float64
dtype: object

In [27]:
df.isna().sum()

Median_House_Value          0
Median_Income               0
Median_Age                  0
Tot_Rooms                   0
Tot_Bedrooms                0
Population                  0
Households                  0
Latitude                    0
Longitude                   0
Distance_to_coast           0
Distance_to_LA              0
Distance_to_SanDiego        0
Distance_to_SanJose         0
Distance_to_SanFrancisco    0
dtype: int64

In [28]:
df.head()

,Median_House_Value,Median_Income,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Latitude,Longitude,Distance_to_coast,Distance_to_LA,Distance_to_SanDiego,Distance_to_SanJose,Distance_to_SanFrancisco
0,452600.0,8.3252,41,880,129,322,126,37.88,-122.23,9263.040773,556529.1583,735501.8070,67432.51700,21250.21377
1,358500.0,8.3014,21,7099,1106,2401,1138,37.86,-122.22,10225.733070,554279.8501,733236.8844,65049.90857,20880.60040
2,352100.0,7.2574,52,1467,190,496,177,37.85,-122.24,8259.085109,554610.7171,733525.6829,64867.28983,18811.48745
3,341300.0,5.6431,52,1274,235,558,219,37.85,-122.25,7768.086571,555194.2661,734095.2907,65287.13841,18031.04757
4,342200.0,3.8462,52,1627,280,565,259,37.85,-122.25,7768.086571,555194.2661,734095.2907,65287.13841,18031.04757

In [29]:
df.tail()

,Median_House_Value,Median_Income,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Latitude,Longitude,Distance_to_coast,Distance_to_LA,Distance_to_SanDiego,Distance_to_SanJose,Distance_to_SanFrancisco
20635,78100.0,1.5603,25,1665,374,845,330,39.48,-121.09,162031.4811,654530.1863,830631.5430,248510.0582,222619.8904
20636,77100.0,2.5568,18,697,150,356,114,39.49,-121.21,160445.4335,659747.0684,836245.9152,246849.8889,218314.4246
20637,92300.0,1.7000,17,2254,485,1007,433,39.43,-121.22,153754.3412,654042.2140,830699.5732,240172.2205,212097.9362
20638,84700.0,1.8672,18,1860,409,741,349,39.43,-121.32,152005.0222,657698.0077,834672.4619,238193.8659,207923.1992
20639,89400.0,2.3886,16,2785,616,1387,530,39.37,-121.24,146866.1969,648723.3371,825569.1790,233282.7691,205473.3766

In [30]:
df.describe()

,Median_House_Value,Median_Income,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Latitude,Longitude,Distance_to_coast,Distance_to_LA,Distance_to_SanDiego,Distance_to_SanJose,Distance_to_SanFrancisco
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,2.064000e+04,2.064000e+04,20640.000000,20640.000000
mean,206855.816909,3.870671,28.639486,2635.763081,537.898014,1425.476744,499.539680,35.631861,-119.569704,40509.264883,2.694220e+05,3.981649e+05,349187.551219,386688.422291
std,115395.615874,1.899822,12.585558,2181.615252,421.247906,1132.462122,382.329753,2.135952,2.003532,49140.039160,2.477324e+05,2.894006e+05,217149.875026,250122.192316
min,14999.000000,0.499900,1.000000,2.000000,1.000000,3.000000,1.000000,32.540000,-124.350000,120.676447,4.205891e+02,4.849180e+02,569.448118,456.141313
25%,119600.000000,2.563400,18.000000,1447.750000,295.000000,787.000000,280.000000,33.930000,-121.800000,9079.756762,3.211125e+04,1.594264e+05,113119.928650,117395.477500
50%,179700.000000,3.534800,29.000000,2127.000000,435.000000,1166.000000,409.000000,34.260000,-118.490000,20522.019100,1.736675e+05,2.147398e+05,459758.877000,526546.661700
75%,264725.000000,4.743250,37.000000,3148.000000,647.000000,1725.000000,605.000000,37.710000,-118.010000,49830.414478,5.271562e+05,7.057954e+05,516946.491000,584552.007950
max,500001.000000,15.000100,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,41.950000,-114.310000,333804.686400,1.018260e+06,1.196919e+06,836762.678200,903627.663300

In [ ]:
#I do not see any missing values. The mean median age is about 28.6 and the mean median income is about 3.87.

In [33]:
y = df["Median_House_Value"]

In [34]:
x = df.loc[:, df.columns != "Median_House_Value"]

In [37]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.1, )

In [38]:
model = LinearRegression()

In [39]:
model.fit(X_train, y_train)

LinearRegression()

In [40]:
model.coef_

array([ 3.90101544e+04,  8.94405325e+02, -5.89489380e+00,  1.01503941e+02,
       -3.91382957e+01,  4.83978243e+01, -4.34361717e+04, -2.77072942e+04,
       -2.35532902e-01, -1.43746227e-01,  2.28233853e-01,  1.60095749e-01,
       -1.37400194e-01])

In [41]:
print(model.intercept_, model.coef_,model.score(X_test, y_test))

-1787879.7774636957 [ 3.90101544e+04  8.94405325e+02 -5.89489380e+00  1.01503941e+02
 -3.91382957e+01  4.83978243e+01 -4.34361717e+04 -2.77072942e+04
 -2.35532902e-01 -1.43746227e-01  2.28233853e-01  1.60095749e-01
 -1.37400194e-01] 0.6689725856488574

In [42]:
#above are the coefficients and the intercept (-1787879.7774636957) and the R squared (0.6689725856488574)

In [ ]:
# The R squared tells us the model is an ok fit. 66.9% of the variance in Median_House_Value can be explained by the x's

In [44]:
y_pred = model.predict(X_test)
y_pred

array([288581.97411563, 227978.17401116, 176428.46527754, ...,
       108721.8229736 , 133861.73750551, 178153.93966824])

In [46]:
MAE = mean_absolute_error(y_test,y_pred)
MAE

49921.92180180502

In [47]:
MSE = mean_squared_error(y_test,y_pred)
MSE

4512871753.162489

In [48]:
MAPE =  mean_absolute_percentage_error(y_test,y_pred)
MAPE

0.3011551243652538